body{
	margin: 0;
	text-align: center;
	font-family: 'Merriweather', serif;
  background-color: #e4f9f5;
}


.header{
	/* padding-top: 100px; */
	text-align: left;
	padding-top: 0.5rem;
}

.ml-auto{
    margin-left: auto!important;
}

.navbar-light .navbar-nav .nav-link{
	color: #11999E!important;
}

.nav-item{
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2rem;
	font-weight: bold;
}

.top{
  text-align: center;
  background-color: #e4f9f5;
}

.message{
  font-size: 5.5rem;
  font-weight: bold;
  font-family: 'Sacramento', cursive;
	color: #11999E;
  margin-top: 40px;
	text-align: center;
}

.sub-title{
	font-size: 2.5rem;
	color: #11999E;
	font-weight: normal;
	font-family: 'Montserrat', sans-serif;
  margin-bottom: 3rem;
}

.picture{
	height: 80%;
	width: 80%;
	margin-top: 50px;
	margin-bottom: 50px;
	justify-content:center;
}

/* middle */

.middle p{
	text-align: justify;
	font-family: 'Montserrat-midium', sans-serif;
}


 /* Footer */
.footer{
		text-align: center;
		background-color: #e4f9f5;
		margin-top: 35px;
		/* height: 50px; */
}

.footer-icon{
    color: #11999E;
		padding-right: 20px;
}
.footer p{
		color: #11999E;
		padding-bottom: 30px;
		margin: 0;

}


/* Hobbies Section */
.hobbies-middle h3{
	color: #11999E;
}
.logo{
	width: 50rem;
	padding-bottom: 2.5rem;
}

/* QnA Section*/

	.qna{
		padding-bottom: 2rem;
	}

	.note{
		text-align: justify;
	}
