body{
	margin:0px;
font-family: 'Montserrat', sans-serif;
}
.section{
	text-align: center;
	font-size: 4rem;
	color: #400082;
}
.section_hr{
	width: 100%;
	border-style: dotted;
	border-width: 2px;
	border-color: gray;
	margin: 20px auto;
}
.background{
	background-image:url(https://media.giphy.com/media/1oF1KAEYvmXBMo6uTS/giphy.gif);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.index_background{
	background-image: url(../image/index.jpg);
	background-size: cover;
	padding: 1em;
}

.link {
	text-decoration: none;
	font-size:100px;
}


a{
	text-decoration: none;
}
.MYSQL{
	position: absolute;
	text-align: center;
	top:15.63rem;
	left: 29rem;
	
}
.font{
	font-size: 8rem;
	color: white;
}

hr{
	width: 5%;
	border-style: dotted none none;
	border-width: 5px;
	border-color: gray;
	margin: 30px auto;

}
h1{
	font-family: 'Montserrat', sans-serif;
}
.all_background{
	background-image: url(../image/b1.jpg);
	background-size: cover;
	background-repeat: repeat;
	padding: 1em;
	/*height: 100vh;*/
}

.learn_body{
	background-image: url(../image/b1.jpg);
	background-size: cover;
	/*background-repeat: repeat;*/
	padding: 1em;
	height: 100vh;
	text-align: center;
	padding-top: 15.63rem;
}
.a{
	color: #00005c;
}
h2{
	color: #035aa6;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #dbdbdb; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #142850; 
}